@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header{
    background-image: url("../images/back.jpg"), linear-gradient(rgba(161, 231, 140, 0.2), rgba(140, 216, 146, 0.4));
    /* background-position:center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    height: 100vh;
}

@media only screen and (max-width: 425px){
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    .header nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* gap: 220px; */
        width: 100%;
    }
    .header{
        background-image: url("../images/back.jpg"), linear-gradient(rgba(161, 231, 140, 0.2), rgba(140, 216, 146, 0.4));
        /* background-position:center; */
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: overlay;
        height: 60vh;
        width: 100%;
    }
    .header nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    header nav .rignt{
        display: none;
    }
    header nav #togle{
        display: block;
        width: 30px;
    }

    .bg-title{
        font-size: 25px;
        font-weight: bold;
        margin-top: -100px;
        margin-left: 20px;
    }
    .bg-title span{
        margin-top: -5px;
        margin-left: 40px;
    }
    .bg-btn{
        margin-left: 20px;
    }
    .bg-btn a{
        font-size: 20px;
        padding: 5px 10px;
    }
}



@media only screen and (max-width: 320px){
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    .header nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* gap: 220px; */
        width: 100%;
    }
    .header{
        background-image: url("../images/back.jpg"), linear-gradient(rgba(161, 231, 140, 0.2), rgba(140, 216, 146, 0.4));
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: overlay;
        height: 60vh;
        width: 100%;
    }
    .header nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    header nav .rignt{
        display: none;
    }
    header nav #togle{
        display: block;
        width: 30px;
    }
}